.App {
    text-align: center;
}
.btn {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #ffffff;
    font-size: 1.5em;
    background: #2A2C2E;
    padding: 10px 20px 10px 20px;
    font-weight: bolder;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}
.person:hover {
    border-color: #2A2C2E;
}
.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 80px;
    align-content: left;
    padding-left: 75px;
    padding-right: 15px;
}
.btnG{
    align-items: right;
    align-content: right;
    align-self: right;
}
.App-header {
    background-color: #2A2C2E;
    height: 100px;
    padding: 20px;
    color: white;
    width: 102%;

}
.App-title {
    font-size: 2em;
}

.App-intro {
    font-size: large;
}
.App-button {
    background-color: #1e7e34;
}
.table_style {
    display: inline-table;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
